<%- include('partials/header.ejs') -%>
<h1>Home</h1>

<p><%= homeStartingContent %></p>
<% posts.forEach(function(post){%>
    <h1><%= post.title %></h1>
    <p><%= post.content.slice(0,60) +"..." %></p>
    <a href="/posts/<%=post.titleURL%>">Read More</a>
<%})%>
<%- include('partials/footer.ejs') -%>
